.engine-context-menu-tree-wrap {
  position: relative;
  padding: 4px 10px 4px 32px;

  .engine-context-menu-title {
    padding: 5px;
    line-height: 22px;
    white-space: nowrap;
  }
}

.engine-context-menu-text {
  display: flex;
  align-items: center;


  .lc-help-tip {
    margin-left: 4px;
    opacity: 0.8;
  }
}

.engine-context-menu-tree-children {
  margin-left: 8px;
  line-height: 22px;
}

.engine-context-menu-tree-selecte-icon {
  position: absolute;
  left: 10px;
  height: 22px;
  color: var(--color-icon-active);
}
